* {
    font-family: 'Comfortaa', cursive;
    font-family: 'Ubuntu', sans-serif;
}

/* Admin */

h1 {
    text-align: center;
}
.widht_block{
    width: 25%;
    height: 500px;
    background-color: rgb(195, 195, 225);
    margin: auto;
    border-radius: 10px;
}
.center_block{
    width: fit-content;
    margin: auto;
    margin-top: 5%;
}

header {
    height: 70px;
    margin-top: 5%;
}

.container_header {
    background-color: rgb(195, 195, 225);
    width: 25%;
    margin: auto;
    border-radius: 10px;
}

#btn_crea {
    height: 50px;
}

body {
    background-color: rgb(230, 230, 230) !important;
}

.mb-3 {
    margin: auto;
    width: 25%;
}

.mb-3 label {
    text-align: center;
}

.mb-3 button {
    width: 100%;
    margin-top: 5%;
}

.mb-3 select {
    margin-top: 5%;
}

/* parent/prof */

.title_header {
    background-color: rgb(255, 182, 47);
    margin: auto;
    width: 25%;
    border-radius: 10px;
}

.container_form {
    margin: auto;
    width: 25%;
    background-color: rgb(255, 182, 47);
    border-radius: 10px;
}

.mb-3_pp {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.mb-3_pp select {
    margin-top: 5%;
}

.login_btn {
    padding-top: 10%;
    padding-bottom: 5%;
    margin: auto;
    text-align: center;
}

.login_btn button:hover {
    background-color: rgb(87, 87, 87);
}
